h5 {
  margin: 0;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.vertical {
    flex-direction: row;
    
    h5 {
      transform: rotate(270deg);
      margin-right: -12px;
    }
  }
}

.targets {
  display: flex;
  flex-direction: row;

  .vertical & {
    flex-direction: column;
    align-items: center;
  }
}

.target {
  padding: 2px;
  margin: 8px;
  min-width: 40px;
  min-height: 44px;
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
  border-radius: 4px;
  transition: background-color 100ms;

  .choice {
    background-color: dodgerblue;
    transition: opacity 100ms;
  }
}

.hover {
  background-color: #cccccc;
  border-color: #999999;

  .choice {
    opacity: .2;
  }
}
