.square-wrap {
  display: flex;
  align-items: center;

  > div {
    min-width: 108px;
    min-height: 88px;
  }
}

.spacer, .mother {
  flex-grow: 1;
}

.father, .result {
  flex-grow: 2;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
}

table {
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
}

td {
  border: 1px solid #aaaaaa;
  padding: 4px;
  min-width: 52px;
  height: 48px;
}
