body {
  text-align: center;
  font-size: 16px;
  overflow: auto;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.choices {
  border: 1px solid #cccccc;
  padding: 4px;

  h5 {
    margin-bottom: 10px;
  }
}

.choice-wrap {
  margin: 4px;
}

.square-wrap {
  display: flex;
  align-items: center;

  > div {
    min-width: 108px;
    min-height: 88px;
  }
}

.spacer, .parent2 {
  flex-grow: 1;
}

.parent1, .result {
  flex-grow: 2;
}
