body {
  text-align: center;
  font-size: 16px;
  overflow: auto;
}

button {
  border: 0 none;
  border-radius: 4px;
  padding: 8px;
  background-color: rgb(235, 121, 0);
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:hover, &:focus {
    background-color: rgb(162, 85, 2);
  }

  &:active {
    background-color: #333333;
    box-shadow: 2px 2px 8px #aaaaaa;
  }
}

h5 {
  font-size: 1.05rem;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.choices {
  border: 1px solid #cccccc;
  padding: 4px;
  margin-right: 16px;
  min-height: 128px;

  h5 {
    margin-bottom: 10px;
  }
}

.choice-wrap {
  margin: 4px;
}

.square-wrap {
  display: flex;
  align-items: center;

  > div {
    min-width: 104px;
    min-height: 80px;
  }
}

.spacer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spacer, .parent2 {
  flex-grow: 1;
}

.parent1, .result {
  flex-grow: 2;
}
